.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-content-section {
  background-color: #bfbfbf;
  height: auto;
  width: 40%;
  padding: 40px;
}
.content-section {
  background-color: #e6e6e6;
  height: auto;
  width: 40%;
  padding: 40px;
}
